
.form {
  border: 2px grey dotted;
  height: 80px;
  width: 500px;
  box-sizing: border-box;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.title {
  text-align: center;
}
.input {
  height: 30px;
  border-radius: 10px;
  padding-left: 10px;
  width: 300px;
}
.icon_plus {
  height: 40px;
  width: 40px;
  margin-left: 10px;
}
.notes {
  min-height: 100px;
  border: 2px grey dotted;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
  width: 500px;
}

.icon_delete {
  height: 30px;
  width: 30px;
  margin-left: 10px;
}
.note {
  border: 1px solid;
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 366px;
  padding: 0 10px;
  min-height: 50px;
}
.checkbox {
  margin-right: 10px;
}